html, body {
	height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
    font-family: "Microsoft JhengHei", serif;
}

#intro-content {
    margin: 20px 0 0;
    height: 80%; 
}

#intro-text {
    overflow-y: auto;
}

 /* for Chrome */
#intro-text::-webkit-scrollbar {
    display: none;
}