html, body {
	height: 100%;
}

body {
    margin: 0;
	width: 100%;
	font-family: "Microsoft JhengHei", serif;
}

#title {
	position: relative;
	background-color: #CDA67A; 
	width: 100%; 
	height: 8%;
	text-align: center;
}

h2 {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content {
	background-color: #6B543C;
	height: 84%;
	width: 100%;
	margin: 0;
}

#left {
	float: left;
	height: 100%;
}

#right {
	float: right;
	height: 100%;
}

#historyBoard {
	margin-left: 10%;
	height: 50%;
	width: 90%;
	max-width: 90%;
	background-color: white;
	overflow-y: scroll;
}

/* for Chrome */
#historyBoard::-webkit-scrollbar {
    display: none;
}

.historyMessage {
	margin: 2px;
	font-size: 15px; 
}

.watchWinnerHistoryButton {
	background-color: rgb(146, 115, 82);
  	color: black;
  	border: 2px solid rgb(41, 32, 22); /* Green */
}

.winnerRecordMessage {
	width: 100%;
	padding: 2px;
  	color: black;
}

#winnerHistoryBoard {
	background-color: rgb(146, 115, 82);
	margin-left: 10%;
	height: 50%;
	width: 90%;
	max-width: 90%;
	overflow-y: scroll;
}

/* for Chrome */
#winnerHistoryBoard::-webkit-scrollbar {
    display: none;
}

footer {
	background-color: #FFF3CE;
	height: 8%; 
	width: 100%;
	margin: 0;
}

#chess {
	height: 40px;
	width: 40px;
	margin-left: 20px;
}

#checkerboard {
	height: 450px;
	width: 450px; 
    box-shadow: 6px 15px #1E1C1C;
	background-color: orange; 
	position: absolute;
	top: 50%;
	left: 50%;
    padding-left: 0;
    padding-right: 0;
    margin: -225px 0 0 -225px;
}

#leftTop {
	text-align: left;
	padding-left: 22px;
	font-style: bold;
	color: #ffffff;
	height: 30%;
}

#leftBottom {
	height: 70%;
}

.whiteCornerBtn{
	font-family: "Microsoft JhengHei";
	font-size: 28px;
	background-color: white;
    border: 2px solid black;
    border-radius: 25px;
	display: block;
	height: 70px;
	line-height: 70px;
	width: 70%; 
	margin: 0 auto;
	margin-top: 30px;
    box-shadow: 1px 1px #1E1C1C;
}

.whiteCornerBtn:hover{
    box-shadow: 2px 4px #1E1C1C;
}
